header {
  background-color: #282c34;
  min-height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vmin;
  color: white;
}

header div {
  padding: 0 20px;
}

header div a {
  color: #61dafb;
}